.grid-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, 1fr)); /* Ensure columns have a minimum width and flexible growth */
    gap: 10px; /* Increase the gap between buttons if needed */
    justify-content: center;
}
.grid-item {
    display: flex;
    text-align: center;
    font-size: 50px;
}

.btn-lg {
    font-size: 150px; /* Adjust the font size as needed */
    padding: 15px 25px; /* Adjust the padding for button size */
}

.btn-operation {
    /* quickfix bootstrap css is overriding the colour  */
    background-color: orange !important; 
}